.footer {
  background-color: blueviolet;
}

.footer__icon {
  width: 2em;
}

.position {
  border-left-style: solid;
  border-left-width: 8px;
  padding: 0 1em 0 1em;
}

.position__header {
  display: flex;
  justify-content: space-between;
}

.position__company {
  font-weight: bold;
}

.position__duties {
  margin-top: 0.5em;
  padding-left: 1.2em;
}

.link--invisible,
.link--invisible:hover {
  text-decoration: inherit;
  color: inherit;
}

.link--newtab:hover:after {
  content: " in a new tab!";
}

.project {
  padding: 1em;
}

.project__content {
  background-color: lightsalmon;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: inherit;
  position: relative;
}

.project__content:hover {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.project__content:hover .project__overlay {
  opacity: 0.9;
}

.project__thumbnail {
  max-width: 100%;
  max-height: 150px;
}

.project__thumbnailContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.project__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: limegreen;
  padding: 1em;
}
