.intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 1em;
}

.intro__picture {
  height: 180px;
}

.intro__arrow {
  display: none;
  position: absolute;
  bottom: 0;
  width: 3em;
}

.position {
  border-left-style: solid;
  border-left-width: 8px;
  padding: 0 1em 0 1em;
}

.position__header {
  display: flex;
  justify-content: space-between;
}

.position__company {
  font-weight: bold;
}

.position__details {
  margin-top: 0.5em;
  padding-left: 1.2em;
}

.project {
  padding: 1em;
  height: 230px;
}

.project__content {
  background-color: lightsalmon;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: inherit;
  position: relative;
}

.project__content:hover {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.project__content:hover .project__overlay {
  opacity: 0.9;
}

.project__thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.project__thumbnailContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 90%;
}

.project__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: limegreen;
  padding: 1em;
}

.footer {
  background-color: blueviolet;
}

.icon {
  width: 2em;
}

.icon--tall {
  height: 2.05em;
}

.link--invisible,
.link--invisible:hover {
  text-decoration: inherit;
  color: inherit;
}

.link--newtab:hover:after {
  content: " in a new tab!";
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em;
}

.card-container > * {
  width: 100%;
}

/* Tablets */
@media (min-width: 768px) {
  .card-container > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Desktops */
@media (min-width: 992px) {
  #headerNav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .intro {
    height: 100vh;
  }

  .intro__arrow {
    display: block;
  }

  .offset:before {
    content: "";
    display: block;
    height: 3.25em;
    margin-top: -3.25em;
  }

  .card-container > * {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
