:root {
  --custom-primary: #4c3ddb;
  --custom-primary-dark: #383a6b;
  --custom-primary-light: #7350f2;
}

.intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 1em;
}

.intro__picture {
  height: 180px;
}

.intro__arrow {
  display: none;
  position: absolute;
  bottom: 0;
  width: 3em;
}

.position {
  border-left-style: solid;
  border-left-width: 8px;
  padding: 0 1em 0 1em;
}

.position__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.position__company {
  font-weight: bold;
  font-size: 17px;
}

.position__location {
  display: none;
}

.position__details {
  margin-top: 0.5em;
  padding-left: 1.2em;
}

.project {
  padding: 1em;
  height: 230px;
  color: white;
}

.project__content {
  background-color: var(--custom-primary);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: inherit;
  position: relative;
  border-radius: 5px;
}

.project__content:hover {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.project__content:hover .project__overlay {
  opacity: 0.9;
}

.project__thumbnail {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project__thumbnailContainer {
  flex-grow: 1;
  max-height: 90%;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--custom-primary-light);
  padding: 1em;
  border-radius: 5px;
}

.project__name {
  padding: 0.5em;
  font-size: 17px;
}

.project__modal {
  color: initial;
}

.footer {
  background-color: var(--custom-primary-dark);
  color: white;
}

.gray-section {
  background: #f7f7f7;
}

section .container {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em;
}

.card-container > * {
  width: 100%;
}

.icon {
  width: 2em;
}

.icon--tall {
  height: 2.05em;
}

.icon--white {
  filter: invert(100%);
}

.link--invisible,
.link--invisible:hover {
  text-decoration: inherit;
  color: inherit;
}

.link--hoverable {
  text-decoration: inherit;
  color: inherit;
}

.link--hoverable:hover {
  color: inherit;
}

/* Tablets */
@media (min-width: 768px) {
  .position__header {
    flex-direction: row;
  }

  .position__location {
    display: block;
    text-align: right;
  }

  .position__date {
    text-align: right;
  }

  .card-container > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Desktops */
@media (min-width: 992px) {
  #headerNav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .intro {
    height: 100vh;
  }

  .intro__arrow {
    display: block;
  }

  .offset:before {
    content: "";
    display: block;
    height: 3.25em;
    margin-top: -3.25em;
  }

  .card-container > * {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .link--newtab:hover:after {
    content: " in a new tab!";
  }
}
